/* vars */
:root {
    scroll-behavior: smooth;

    --darkTransparentBg: #060606eb;
    --whiteText: rgb(238, 235, 235);
    --whiteBlueBg: #d4d4de;
    --primary: #287c81fa;
    --lighterPrimary: #98c4c7;
    --navHeight: 8vh;
    --blackFont:#262729;
    --titlesFont: 'Old Standard TT',serif;
    --sansSerifFont: 'Lato', sans-serif;
}

/* reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

body {
    font-family: var(--sansSerifFont);
}

.hero-background {
    grid-area: hero;
    background-image: url(../img/hero-banner.webp);
    background-size: 141vh;
    background-position: -69vh 0;

}

.hero-banner {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9532855378479517) 24%, rgba(0,212,255,0) 100%);
}

nav {
    transition: top 0.8s;
}

.title-container {
    width: min-content;
}

.amaze-title {
    transform: scale(1.3);
}
