/* vars */
:root {
    scroll-behavior: smooth;

    --darkTransparentBg: #060606eb;
    --whiteText: rgb(238, 235, 235);
    --whiteBlueBg: #d4d4de;
    --primary: #287c81fa;
    --lighterPrimary: #98c4c7;
    --navHeight: 8vh;
    --blackFont:#262729;
    --titlesFont: 'Old Standard TT',serif;
    --sansSerifFont: 'Lato', sans-serif;
}

/* reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

body {
    font-family: var(--sansSerifFont);
}

h1, h2, h3 {
    font-family: var(--titlesFont);
}

.hero-background {
    background-image: url(../img/hero-banner.webp);
    background-size: 141vh;
    background-position: -69vh 0;
}

.hero-banner {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9532855378479517) 24%, rgba(0,212,255,0) 100%);
}

nav {
    transition: top 0.8s;
}

.title-container {
    width: min-content;
}

.amaze-title {
    transform: scale(1.3);
}

/* single payment section */

.single-payment-section {
    background-image: url(../img/girl-amazed1.webp);
    background-size: 135%;
    background-position: -250%;
    position: relative;
}

.offer-band-box {
    height: 6em;
    width: 7rem;
    overflow: hidden;
}

.offer-band {
    font-family: 'Times New Roman', Times, serif;
    width: 6em;
    background-image: linear-gradient(359deg, black 23%, #b3b3b354 55%, #ff040400), linear-gradient(180deg, black 100%, #6c5d5d9c 100%, #ff000000);
    transform: rotate(45deg) translate(16%, 20%);
}

.pages-background {
    background-image: url(../img/fondo-prueba1.png);
    background-size: 1041%;
    background-position: 76% 100%;  
}

/* course goals section */

.goals-card {
    height: 40vh;
}

.goals-card-fx {
    background: linear-gradient(90deg, #ffffff00 60%, #0000002b); 
}

.goals-img {
    background-repeat: no-repeat;
    background-size: cover;
    top: -1px;
}

.goals-img-fx {
    background: linear-gradient(180deg, rgba(252, 252, 252, 0), #f6f8f9);
    /* background-repeat: no-repeat; */
}

.goals-img-1 {
    background-image: url(../img/Alan-400x220.webp);
}

.goals-img-2 {
    background-image: url(../img/Guadi-400x220-2.png);
}

.goals-img-3 {
    background-image: url(../img/foro-crop-3.png);
}

/* md */
@media screen and (min-width:768px) {
    html {
        font-size: 1.15rem;
    }

    .pages-background {
        background-size: cover;
        background-position: right top;
    }
}

/* lg */
@media screen and (min-width:992px) {
    html {
        font-size: 0.9rem;
    }
    
    .goals-card {
        height: 79vh;
    }
    .goals-img-container {
        height: 50%!important;
    } 

    .pages-background {
        height: 55vh!important;
        background-size: cover;
        background-position: right top;
    }
    .header-titles {
        font-size: 4rem!important;
    }


}

